<p><%= link_to "home", "/" %></p>

<p>Task <%= params[:id] %></p>
<p><%= @conditions %></p>

<%= form_tag("/tasks/result/#{params[:id]}", method: "post") do %>
  <% @params.each do |label| %>
    <%= label_tag(label, label) %>
    <%= text_field_tag(label) %>
  <% end %>
  <%= submit_tag("Result") %>
<% end %>
