<p>Task <%= @id %></p>

<% case @id
   when '1'%>
  <p>Даны два действительных числа. Получить их сумму, разность и произведение.</p>
<% when '2' %>
  <p>Даны действительные числа x и y. Получить (|x| -|y|)/(1 + xy) </p>
<% when '3' %>
  <p>Дана длина ребра куба. Найти объем куба и площадь его боковой поверхности.</p>
<% when '6' %>
  <p>Даны катеты прямоугольного треугольника. Найти его гипотенузу и площадь.</p>
<% when '8' %>
  <p>Определить периметр правильного n-угольника,описанного около окружности радиуса r.</p>
<% when '9' %>
  <p>Три сопротивления R1, R2, R3 соединены параллельно. Найти сопротивление соединения.</p>
<% when '10' %>
  <p>Определить время падения камня на поверхность земли с высоты h.</p>
<% when '12' %>
  <p>Дана сторона равностороннего треугольника. Найти площадь этого треугольника.</p>
<% when '13' %>
  <p>Вычислить период колебания маятника длины l.</p>
<% when '15' %>
  <p>Даны гипотенуза и катет прямоугольного треугольника. Найти второй катет и радиус вписанной окружности.</p>
<% when '16' %>
  <p>Известна длина окружности. Найти площадь круга, ограниченного этой окружностью.</p>
<% when '24' %>
  <p>Вычислить расстояние между двумя точками с координатами x1,y1 и x2,y2.</p>
<% when '30' %>
  <p>Дано действительное числох. Не пользуясь никакими другими арифметическими операциями,
    кроме умножения, сложения и вычитания, вычислить:</p>
  <p>1−2x +3x^2 −4x^3 и 1+2x +3x^2 +4x^3.</p>
  <p>Разрешается использовать не более восьми операций.</p>
<% when '33' %>
  <p>Даны действительные числа х,у. Получить: max (x,y), min (x,y).</p>
<% when '34' %>
  <p>Даны действительные числа x,y,z. Получить: min (x,y,z), max(x,y,z).</p>
<% when '41' %>
  <p>Даны три действительных числа. Выбрать из них те, которые принадлежат интервалу (1, 3).</p>
<% when '43' %>
  <p>Даны три действительных числа. Возвести в квадрат те из них, значения которых неотрицательны.</p>
<% when '62' %>
  <p>Определить, является ли данное целое число четным.</p>
<% when '64' %>
  <p>Дано натуральное число n (n > 99). Определить число сотен в нем.</p>
<% when '65' %>
  <p>Дано натуральное число n (n>99). Выяснить, верно ли, что n^2 равно кубу суммы цифр числа n.</p>
<% when '67' %>
  <p>Дано натуральное число n (n ≤ 100):</p>
  <p>а) Сколько цифр в числе n?</p>
  <p>б) Чему равна сумма его цифр?</p>
  <p>в) Найти последнюю цифру числа n.</p>
  <p>г) Найти первую цифру числа n.</p>
  <p>д) В предположении, что n ≥ 10, найти предпоследнюю цифру числа n.</p>
<% when '182' %>
  <p>Дано натуральное число n.</p>
  <p>В массиве a1, …, an найти количество и сумму тех членов данной последовательности,
    которые делятся на 5 и не делятся на 7.</p>
<% when '185' %>
  <p>Дано натуральное число n.</p>
  <p>Получить удвоенную сумму всех положительных членов последовательности a1, …, an.</p>
<% when '191' %>
  <p>Дано натуральное число n.</p>
  <p>Заменить все большие семи члены последовательности a1, …, an числом 7. Вычислить количество таких членов.</p>
<% when '205' %>
  <p>Дано натуральное число n.</p>
  <p>Получить max(a1, …, an) и sqrt(a1^2 + ... +an^2).</p>
<% when '207' %>
  <p>Дано натуральное число n. Выбросить из записи числа n цифры 0 и 5, оставив прежним порядок остальных цифр.</p>
  <p>Например, из числа 59015509 должно получиться 919.</p>
<% when '224' %>
  <p>Дано натуральное число n. Получить все его натуральные делители.</p>
<% when '225' %>
  <p>Дано натуральное число n. Получить все такие натуральные q, что n делится на q^2 и не делится на q^3.</p>
<% when '230' %>
  <p>Дано натуральное число n.</p>
  <p>Найти длину наименьшего отрезка числовой оси, содержащего числа a1, …, an.</p>
<% when '272' %>
  <p>Даны действительные числа а1901, a1902, …,аn – количество осадков (в миллиметрах),
    выпавших в Москве в течение первых n лет нашего столетия.</p>
  <p>Надо вычислить среднее количество осадков и отклонение от среднего для каждого года.</p>
<% when '279' %>
  <p>Дано действительные числа n.</p>
  <p>Вычислить для  a1, …, an, b1, …, bn:</p>
  <p>(a1+bn)(a2+bn-1)...(an+b1).</p>
<% when '302' %>
  <p>Дано натуральное число n. Сколько различных цифр встречается в его десятичной записи?</p>
<% when '317' %>
  <p>Даны действительные числа a1, …, a10. Вычислить a1 + a2^2 + ... + a10^10</p>
<% when '325' %>
  <p>Дано натуральное число n. Получить все простые делители этого числа.</p>
<% when '328' %>
  <p>Найти 100 первых простых чисел.</p>
<% when '536' %>
  <p>Дано натуральное число n.</p>
  <p>Выяснить, имеются ли среди чисел a1, ..., an совпадающие.</p>
<% when '555' %>
  <p>Дано натуральное n. Получить первые n строк треугольника Паскаля.</p>
  <p>Треугольником Паскаля называется числовой треугольник в котором по краям стоят единицы,
    а каждое число внутри равно сумме двух стоящих над ним в ближайшей строке сверху.</p>
<% when '561' %>
  <p>Дано натуральное число n. Среди чисел 1, ..., n найти все такие,
    запись которых совпадает с последними цифрами записи их квадрата (как, например, 6^2 = 36, 25^2 = 625 и т. д.).</p>
<% when '606' %>
  <p>Даны действительные положительные числа a, b, c, d.
    Выяснить, можно ли построить четырехугольник с такими длинами сторон.</p>
<% when '697' %>
  <p>Для матриц А и В размера k × m и m × l соответственно найти произведение АВ.</p>
<% when '698' %>
  <p>Для квадратной матрицы прядка n. Получить матрицуА^2.</p>
<% when '699' %>
  <p>Для квадратных матриц А и В порядка n. Получить матрицу АВ–ВА.</p>
<% when '704' %>
  <p>Для квадратных матриц A, B и C порядка n. Получить матрицу (A+B)C.</p>
<% when '710' %>
  <p>Для матрицы А размера m × n. Получить транспонированную матрицу А* (ее размер – m × n ).</p>
<% when '822' %>
  <p>Дан номер года. Указать число дней в этом году.</p>
<% when '823' %>
  <p>Даны натуральные числа n, m (n ≤ m ).
    Определить, сколько из чисел n, n+1, ..., m являются номерами високосных годов.</p>
<% when '831' %>
  <p>День учителя ежегодно отмечается в первое воскресенье октября. Дано натуральное число n, означающее номер года.
    Определить число, на которое в октябре указанного года приходится День учителя.</p>
<% when '986' %>
  <p>«Угадай число». Программа с помощью датчика случайных чисел выбирает число в диапазоне от 0 до 9.
    Угадать это число за три попытки. После каждой попытки сообщается,
    больше или меньше названное число задуманного.</p>
<% when '988' %>
  <p>«Ипподром». Играющий выбирает одну из трех лошадей, состязающихся на бегах, и выигрывает,
    если его лошадь приходит первой. Скорость передвижения лошадей на разных этапах выбирается программой
    с помощью датчика случайных чисел.</p>
<% when '1009' %>
  <p>«100 спичек». Из кучки, первоначально содержащей 100 спичек, двое играющих поочередно берут по несколько спичек:
    не менее одной и не более десяти. Проигрывает взявший последнюю спичку.</p>
<% end %>

<%= form_tag("/tasks/result/#{@id}", method: "post") do %>
  <% @params.each do |label| %>
    <%= label_tag(label, label) %>
    <%= text_field_tag(label) %>
  <% end %>
  <%= submit_tag("Result") %>
<% end %>
